nav > h1 {
    font-size: 30px; 
    color: black; 
    font-weight: 500;
}

nav ul {
display: flex;
justify-content: space-around; 
align-items: center;
width: 30%;
background-color: aqua;


}
nav ul a {
font-size: 20px; 
font-weight: 300; 
color: black;
text-decoration:none;

}